body {
  font: 14px/16px 'ArialMT', Arial, sans-serif;
  background-color: #fff;
  color: #414141;
}

.right-side {
  display: flex;
  justify-content: flex-end;
}

/********** Products **********/
/*****************************/

.products {
  .products-img {
    position: relative;
    text-align: center;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #d8d8d8;
      z-index: -1;
    }
    img {
      padding: 15px;
      background-color: #fff;
    }
  }
}

.product-item {
  position: relative;
  display: block;
  width: 100%;
  background-color: #f7f7f7;
  text-align: center;
  .product-item-img {
    img {
      display: block;
      width: 100%;
    }
  }
  .product-item-price {
    display: block;
  }
  .product-item-sale {
    dispay: none;
  }
}

.favorite-brands {
  position: relative;
  border: 1px solid #d8d8d8;
  border-left: none;
  border-right: none;
  padding:20px 0px;
  h2 {
    font:700 15px Arial, sans-serif;
    position: relative;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    span {
      padding: 0px 20px;
      background-color: #fff;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.brands-carousel {
  .owl-stage {
    display: flex;
    align-items: center;
  }

  .owl-item {
    img {
      width: auto;
    }
  }
}


@font-face {
  font-family: 'ArialMT';
  src: url(../fonts/ArialMT/ARIALMT.ttf) format('truetype');
}